.team-cont {
  width: 400px;
  height: 400px;
  margin: auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #5a1297;
  border-radius: 10px;
  background-color: #eddbf4;
}

.team-cont:hover {
  cursor: pointer;
}

.team-cont > img {
  margin-top: 1rem;
  width: 50%;
  height: 50%;
}

@media (max-width: 600px) {
  .team-cont {
    width: 250px;
    height: 250px;
  }
}
