:root {
  --primary-color: #5a1297;
  --dark-color: #4f0c44;
  --light-color: #eddbf4;
  --light-gray: #ededed;
  --danger-color: #dc3545;
  --success-color: #697a6d;
  --accent-color: #e52d8a;
  --yellow-color: #ffa45e;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  color: var(--dark-color);
  background-color: var(--light-color);
  overflow-y: auto;
  overflow-x: hidden;
  background: url("./img/landing-bg.png") no-repeat center fixed;
  background-size: cover;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

ul {
  list-style: none;
}

/* Utilities */

.container-inner {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
}

/* Text Styles*/
.heading {
  font-size: 6rem;
  line-height: 1.2;
}

.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.small {
  font-size: 0.7rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
}

.text-black {
  color: black;
}

.text-white {
  color: white;
}

.text-primary {
  color: var(--primary-color);
}

.text-accent {
  color: var(--accent-color);
}

.text-dark {
  color: var(--dark-color);
}

/* Padding */
.p {
  padding: 0.5rem;
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}
.py {
  padding: 0.5rem 0;
}
.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}
.py-5 {
  padding: 5rem 0;
}

/* Margin */
.m {
  margin: 0.5rem;
}
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 2rem;
}
.m-3 {
  margin: 3rem;
}
.my {
  margin: 0.5rem 0;
}
.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}

.mx-1 {
  margin: 0 1rem;
}

.mx-2 {
  margin: 0 2rem;
}

.btn {
  display: inline-block;
  background: var(--primary-color);
  color: var(--dark-color);
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}

.badge {
  font-size: 0.8rem;
  padding: 0.1rem;
  text-align: center;
  margin: 0.3rem;
  background: var(--light-color);
  color: #333;
}

.alert {
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
}

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
  background: var(--primary-color);
  color: #fff;
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
  background: var(--light-color);
  color: #333;
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
  background: var(--dark-color);
  color: #fff;
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
  background: var(--danger-color);
  color: #fff;
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
  background: var(--success-color);
  color: #fff;
}

.btn-white,
.bg-white,
.badge-white,
.alert-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}

.btn:hover {
  opacity: 0.8;
}

.bg-light,
.badge-light {
  border: #ccc solid 1px;
}

.line {
  height: 1px;
  background: var(--dark-color);
  width: 60%;
  margin: 0.1rem 0;
}

.white-line {
  height: 1px;
  background: white;
  width: 80%;
  margin: 0 auto;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 3rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 80px;
  background-color: var(--dark-color);
  top: 0;
  opacity: 0.8;
}

.navbar ul {
  display: flex;
}

.navbar input[type="text"] {
  display: block;
  width: 90%;
  height: 40px;
  border: 1px solid #ccc;
  padding: 0.4rem;
  font-size: 1.2rem;
  border-radius: 5px;
  margin-right: 0.5rem;
}

.navbar input[type="text"]:focus {
  outline: none;
}

.navbar a {
  color: var(--accent-color);
  padding: 0.45rem;
  margin: 0 1rem;
  font-size: 1.5rem;
  transition: color 200ms ease-in;
}

.navbar a:hover {
  color: #e52d8991;
}

.navbar img {
  height: 70px;
  margin-top: 5px;
}

.navbar .welcome span {
  margin-right: 0.6rem;
}

.landing-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#landing-logo {
  width: 50%;
}

.items-cont {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 2rem;
  margin-bottom: 2rem;
}

.item-cont {
  width: 400px;
  height: 400px;
  margin: auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  background: white;
  transition: transform 200ms ease-in;
  position: relative;
  box-shadow: 2px 2px 5px 5px #4f0c4486;
}

.item-cont:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.item-cont > img {
  margin-top: 1rem;
  width: 50%;
  height: 50%;
}

.personal-info,
.team-info {
  display: flex;
  align-items: center;
}

.personal-info p {
  margin: 0 0.3rem;
  padding: 0.3rem;
}

.team-info img {
  height: 40px;
  width: 40px;
  margin-left: 0.3rem;
}

.league-cont {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
}

#heading {
  display: flex;
  justify-content: space-evenly;
  border-bottom: none;
  padding: 0.3rem;
}

.standings-cont {
  display: flex;
  flex-direction: column;
  border-top: none;
  padding: 0.3rem;
}

.standing-item {
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  display: grid;
  grid-template-columns: 2fr repeat(8, 1fr);
}

#team-info {
  display: flex;
  align-items: center;
}

#team-info img {
  height: 30px;
  width: 30px;
}

.venue {
  margin-top: 2rem;
}

.basic-info1,
.basic-info2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.basic-info2 img {
  height: 200px;
  width: 325px;
}

.stats-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.double {
  grid-column: span 2;
}

.grid-item {
  display: flex;
  flex-direction: column;
  padding: 0.2rem;
  border: 1px solid white;
  margin: 1rem 0;
  border-radius: 15px;
  width: 80%;
}

.form-item {
  display: flex;
  flex-direction: row;
  padding: 0.2rem;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.goals-for-against {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  justify-items: center;
}

.fixtures-info {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 3em;
  padding: 3rem;
}

.stats-griditem-info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.stats-griditem-info p {
  margin: 0 2rem;
}

.goals-minute {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5em;
  justify-items: center;
}

.league-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.england-flag {
  height: 100px;
  width: 200px;
}

.biggest-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5em;
  justify-items: center;
}

.lineup-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem;
}

.clean-sheet-info {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.scorer-stats-cont {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

@media (max-width: 1430px) {
  .items-cont {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 1300px) {
  /* Text Styles */
  .x-large {
    font-size: 3rem;
  }
}

@media (max-width: 800px) {
  #landing-cont {
    flex-direction: column;
  }

  #landing-logo {
    width: 60%;
  }

  #heading {
    font-size: 0.7rem;
  }

  .heading {
    padding: 2rem 0;
  }

  .container-inner {
    padding: 0 1.5rem;
  }

  .standing-item {
    grid-template-columns: 3fr repeat(6, 1fr);
    font-size: 0.7rem;
    padding: 0.5rem;
  }

  #team-info img {
    height: 20px;
    width: 20px;
  }

  .remove-mobile {
    display: none;
  }

  .lineup-item {
    padding: 0 0.3rem;
  }

  .fixtures-info {
    padding: 1rem;
  }

  .stats-griditem-info p {
    margin: 0 1rem;
  }
}

@media (max-width: 768px) {
  .container-inner {
    margin-top: 5.5rem;
  }

  .heading {
    font-size: 4rem;
  }

  .scorer-stats-cont {
    flex-direction: column;
  }

  /* Text Styles */
  .x-large {
    font-size: 2rem;
  }

  .large {
    font-size: 1.5rem;
  }

  .lead {
    font-size: 1rem;
  }
}

@media (max-width: 600px) {
  #landing-logo {
    width: 90%;
  }

  .item-cont {
    width: 250px;
    height: 250px;
  }

  .team-info img {
    height: 30px;
    width: 30px;
  }

  .item-cont .line {
    display: none;
  }

  .basic-info2 img {
    height: 150px;
    width: 244px;
  }
}

@media (max-width: 425px) {
  h1 {
    width: 100%;
    margin: none;
  }
}
