#search-cont {
  display: flex;
  flex-direction: row;
  width: 20%;
}

#search-icon {
  width: 10%;
  height: 40px;
  cursor: pointer;
  transition: color 200ms ease-in;
}

#search-icon:hover {
  color: #ffa45e;
}

.logo-cont {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  transition: color 200ms ease-in;
}

.logo-cont:hover {
  color: #ffa45e;
}

#football {
  height: 40px;
  width: 40px;
}
