#search-cont {
  display: flex;
  flex-direction: row;
  width: 20%;
}

#search-icon {
  width: 10%;
  height: 40px;
  cursor: pointer;
  transition: color 200ms ease-in;
}

#search-icon:hover {
  color: #6a3c8f;
}
