.search-cont {
  display: flex;
  flex-direction: row;
  width: 20%;
}

.logo-cont {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  transition: color 100ms ease-in-out;
  font-size: 2.5rem;
  letter-spacing: 2px;
}

.logo-cont:hover {
  color: #e52d8991;
}

.icons {
  height: 30px;
  width: 30px;
  margin: 0 0.2rem;
}

.icons:hover {
  cursor: pointer;
}

.icon-cont {
  display: none;
}

@media (max-width: 800px) {
  .navbar {
    padding: 0;
  }

  #logo {
    margin: 0;
  }

  .icon-cont {
    display: flex;
    flex-direction: row;
  }

  .links-cont,
  .search-cont {
    display: none;
    position: relative;
  }

  .navbar ul {
    flex-direction: column;
    width: 100%;
  }

  .navbar ul li {
    background-color: #4f0c44;
    text-align: center;
    border-bottom: 1px solid white;
    padding-bottom: 0.3rem;
  }

  .active {
    display: flex;
    width: 100%;
    position: absolute;
    top: 4rem;
  }
}
